@import "variables";
@import "mixins";

.about {
  color: #fff;
  background-color: $black-main;

  &__container {
    flex-direction: column;
    gap: $offset;
  }

  &__desc {
    position: relative;
    max-width: 623px;
  }

  &__people {
    gap: $offset;
  }

  &__subtitle {
    margin-bottom: 8px;
    color: $gray-dark;
    font-weight: 700;
    line-height: 150%;
  }

  &__text {
    color: $gray-dark;
    line-height: 160%;
  }

  &__decor {
    position: absolute;
    top: 0;
    right: -200px;
    width: 162px;
    height: 225px;
    background: url('../icons/Spiral.svg');
  }

  &__decor--1 {
    right: -485px;
    width: 255px;
    background: url('../icons/Dawn.svg');
  }
}

.host {
  flex-direction: column;
  width: 255px;

  &__title {
    margin-bottom: 8px;
    padding-top: $offset;
    font-weight: 500;
    font-size: 20px;
  }

  &__desc {
    color: $gray-dark;
    line-height: 150%;
  }
}

.feedback {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 920px;

  &__input {
    @include input;
  }

  &__input:focus-visible {
    outline: 1px solid $focus;
    background-color: $black-second;
  }

  &__input:hover {
    outline: 1px solid #fff;
    background-color: $black-second;
  }

  &__input:active {
    outline: 1px solid #fff;
    background-color: transparent;
  }

  &__textarea {
    grid-column: span 2;
    padding: 30px 32px;
    border-radius: 30px;
  }

  &__wrapper {
    flex-direction: column;
    gap: $offset;
  }

  &__label {
    // grid-row: 4;
    user-select: none;
    cursor: pointer;
  }

  &__checkbox {
    appearance: none;
  }

  &__desc {
    position: relative;
    padding-left: 19px;
  }

  &__desc::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    transform: translateY(-50%);
    transition: border .4s ease-in-out;
  }

  &__desc::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    transform: translateY(-50%);
    background: url('../img/checked.svg');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity .4s ease-in-out;
  }

  &__checkbox:checked+.feedback__desc::after {
    opacity: 1;
  }

  &__btn {
    @include blue-button;
    width: 212px;
    height: 70px;
  }
}