.accordion__content {
  overflow: hidden;
  visibility: hidden;
  transition-property: display, height, visibility;
  transition-timing-function: ease;
}

.accordion__active .accordion__content {
  visibility: visible;
}

.accordion__icon {
  transition: transform .2s ease-in-out;
}

.accordion__active .accordion__icon {
  transform: rotateX(0);
}