@font-face {
  font-family: "Muller";
  src: local("MullerRegular"), local("Muller-Regular"),
    url("../fonts/mullerRegular.woff2") format("woff2"),
    url("../fonts/mullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerMedium"), local("Muller-Medium"),
    url("../fonts/mullerMedium.woff2") format("woff2"),
    url("../fonts/mullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerBold"), local("Muller-Bold"),
    url("../fonts/mullerBold.woff2") format("woff2"),
    url("../fonts/mullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerLightItalic"), local("Muller-Light-Italic"),
    url("../fonts/mullerLightItalic.woff2") format("woff2"),
    url("../fonts/mullerLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("MullerRegularItalic"), local("Muller-Regular-Italic"),
    url("../fonts/mullerRegularItalic.woff2") format("woff2"),
    url("../fonts/mullerRegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: local("OpenSans"), local("Open-Sans"),
    url("../fonts/openSansRegular.woff2") format("woff2"),
    url("../fonts/openSansRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}