@import "variables";
@import "mixins";

.footer {
  position: relative;
  min-height: 323px;
  color: #fff;
  background-color: $black-second;
}

.footer__container {
  position: relative;
  justify-content: space-between;
  min-height: 323px;
}

.footer-socials {
  align-self: center;
}

// .footer__logo-link {
//   margin-bottom: 20px;
// }

.footer-socials__list {
  margin-top: 20px;
  gap: 21px;
}

.footer-socials__link {
  @include fill-only-icon;
}

.footer-socials__icon {
  fill: $gray;
  transition: fill .4s ease-in-out;
}

.path-icon {
  @include path-icon;
}

.footer__nav {
  align-self: center;
}

.footer__nav-list {
  grid-template-columns: repeat(3, 86px);
  grid-template-rows: repeat(3, 16px);
  gap: 20px 109px;
}

.footer__nav-item {
  &:nth-child(1) {
    grid-column: 1;
  }

  &:nth-child(2) {
    grid-column: 1;
  }

  &:nth-child(3) {
    grid-column: 1;
  }

  &:nth-child(4) {
    grid-column: 2;
    grid-row: 1;
  }

  &:nth-child(5) {
    grid-column: 2;
    grid-row: 2;
  }

  &:nth-child(6) {
    grid-column: 2;
    grid-row: 3;
  }

  &:nth-child(7) {
    grid-column: 3;
    grid-row: 1;
  }

  &:nth-child(8) {
    grid-column: 3;
    grid-row: 2;
  }

  &:nth-child(9) {
    grid-column: 3;
    grid-row: 3;
  }
}

.footer-link {
  font-size: 16px;
}

.footer__decor {
  position: absolute;
  right: 0;
  bottom: 30px;
  width: 100%;
  height: 12px;
  background: url('../img/footer-waves.svg');
}

.footer__trademark {
  position: absolute;
  right: 50%;
  bottom: 10px;
  color: $gray-dark;
  line-height: 103.3%;
}