@import "variables";
@import "mixins";

.header {
  padding: $offset 10px;
}

.header__menu-main {
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  margin-bottom: 20px;
}

.nav__list {
  gap: 58px;
}

.nav__link {
  font-size: $bigfont;
}

.main-menu__buttons {
  gap: 24px;
}

.search-btn {
  outline: none;
}

.search-btn:focus-visible {
  .search-btn__icon {
    stroke: $focus;
  }
}

.search-btn:hover {
  .search-btn__icon {
    stroke: $focus;
  }
}

.search-btn:active {
  .search-btn__icon {
    stroke: $active;
  }
}

.search-btn__icon {
  stroke-width: 2px;
  stroke: $hover;
  transition: stroke .4 ease-in-out;
}

.entry-btn {
  @include black-button
}

.secondary-menu {
  justify-content: space-between;
  align-items: center;
  gap: 52px;

  .secondary-menu__list {
    gap: 52px;
  }
}

.secondary-menu__btn {
  position: relative;
  padding: 14px 42px;

  @include stroke-icon;
}

.secondary-menu__btn:first-child::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 0;
  width: 1px;
  height: 40px;
  background-color: $gray-light;
}

.secondary-menu__btn::after {
  content: "";
  position: absolute;
  top: 15%;
  right: 0;
  width: 1px;
  height: 40px;
  background-color: $gray-light;
}


.play-btn__icon {
  position: absolute;
  top: 28%;
  left: 5%;
  stroke-width: 2px;
  stroke: $gray-dark;

  use {
    path {
      fill: $gray-dark;
    }
  }
}

.play-btn__icon use path {
  fill: $gray-dark;
}

.play-btn__text {
  margin-bottom: 5px;
  padding-left: 5px;
  @include small-text;

  &:focus-visible {
    outline: 1px solid #fff;
  }
}

.secondary-menu__notice {
  position: relative;
  margin-right: 14px;
  @include small-text;
}

.secondary-menu__notice::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -13px;
  width: 46px;
  height: 65px;
  background-color: $gray-light;
  z-index: -1;
}

.secondary-menu__notice::after {
  content: "";
  position: absolute;
  top: -57%;
  right: -23%;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 100%;
  z-index: -1;
}