@import "variables";
@import "mixins";

.hero__container {
  position: relative;
}

.hero__content {
  flex-direction: column;
  align-self: start;
  width: 635px;
}

.hero__title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
}

.hero__title--italic {
  font-style: italic;
  font-weight: 400;
}

.hero__text {
  margin-bottom: 45px;
  line-height: 150%;
}

.hero__link {
  max-width: 39%;
  @include blue-button;
}

.hero__image {
  position: absolute;
  right: 0;
  top: -27%;
  width: 350px;
  height: 372px;
  background-image: url('../img/microphone.png');
}