@import 'variables';

@mixin small-text {
  color: $gray-dark;
  font-size: $smallfont;
}

@mixin menu-link {
  transition: color .4s ease-in-out, background-color .4s ease-in-out;

  &:focus-visible {
    color: #fff;
    background-color: $focus;
  }

  &:hover {
    color: $hover;
  }

  &:active {
    color: $active;
  }
}

@mixin black-button {
  padding: 12px 33px;
  outline: 2px solid $black-main;
  font-size: 16px;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, outline 0.4s ease-in-out;

  &:focus-visible {
    color: $black-main;
    background-color: $focus;
    outline: 2px solid $black-main;
  }

  &:hover {
    color: #fff;
    background-color: $black-main;
    outline: 2px solid $black-main;
  }

  &:active {
    color: #fff;
    background-color: $active;
    outline: 2px solid $active;
  }
}

@mixin blue-button {
  color: #fff;
  background-color: $hover;
  outline: 2px solid $hover;
  transition: background-color .4s ease-in-out, outline .4s ease-in-out;

  &:focus-visible {
    background-color: $focus;
    outline: 2px solid $active;
  }

  &:hover {
    background-color: $focus;
    outline: 2px solid $focus;
  }

  &:active {
    background-color: $active;
    outline: 2px solid $active;
  }
}

@mixin blue-button2 {
  transition: background-color .4s ease-in-out, outline .4s ease-in-out;

  &:focus-visible {
    background-color: $hover;
    outline: 2px solid $hover;
  }

  &:hover {
    background-color: $focus;
    outline: 2px solid $focus;
  }

  &:active {
    background-color: $active;
    outline: 2px solid $active;
  }
}

@mixin fill-only-icon {
  &:focus-visible {
    svg {
      fill: $focus;
    }
  }

  &:hover {
    svg {
      fill: $hover;
    }
  }

  &:active {
    svg {
      fill: $active;
    }
  }
}

@mixin play-icon {
  &:focus-visible {
    svg {
      stroke: $focus;

      path {
        fill: $focus
      }
    }
  }

  &:hover {
    svg {
      stroke: $hover;

      path {
        fill: $hover;
      }
    }
  }

  &:active {
    svg {
      stroke: $active;
      fill: $active;

      path {
        fill: #fff;
      }
    }
  }
}

@mixin stroke-only-icon {
  &:focus-visible {
    svg {
      stroke: $focus;
    }
  }

  &:hover {
    svg {
      stroke: $hover;
    }
  }

  &:active {
    svg {
      stroke: $active;
    }
  }
}

@mixin path-icon {
  path {
    fill: $black-second;
  }
}

@mixin hover-link {
  transition: color .4s ease-in-out;

  &:focus-visible {
    color: $focus;
  }

  &:hover {
    color: $focus;
  }

  &:active {
    color: $active;
  }
}

@mixin input {
  padding: 25px 32px;
  background-color: transparent;
  outline: 1px solid #fff;
  border-radius: 40px;
  color: #fff;
  font-size: 20px;
  transition: outline .4s ease-in-out, background-color .4s ease-in-out;
  cursor: pointer;
}