@import "variables";
@import "mixins";

.playlist__content {
  gap: 34px;
}

.playlist__controls {
  flex-direction: column;
  max-width: 350px;
}

.genres {
  flex-direction: column;

  &__legend {
    margin-bottom: 8px;
    color: $gray-dark;
  }

  &__label {
    margin-bottom: 16px;
    user-select: none;
    cursor: pointer;
    font-size: 20px;
  }

  &__label:last-child {
    margin-bottom: 22px;
  }

  &__text {
    position: relative;
    padding-left: 35px;
  }

  &__text::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 25px;
    height: 25px;
    border: 2px solid $gray-dark;
    border-radius: 100%;
    transform: translateY(-50%);
    transition: border .4s ease-in-out, background-color .4s ease-in-out;
  }

  &__text::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 6px;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: transparent;
    transform: translateY(-50%);
    transition: background-color .4s ease-in-out;
  }
}

.playlists__input {
  appearance: none;
}

.playlists__input:focus-visible+.genres__text::before {
  border: 2px solid $hover;
  background-color: $gray;
}

.playlists__input:hover+.genres__text::before {
  border: 2px solid $hover;
  background-color: #fff;
}

.playlists__input:checked+.genres__text::before {
  border: 2px solid $hover;
  background-color: $hover;
}

.playlists__input:checked+.genres__text::after {
  background-color: #fff;
}

.playlists__disclaimer {
  padding-top: 38px;
  border-top: 1px solid $gray;
}

.disclaimer {
  color: $gray-dark;

  &__item {
    line-height: 138%;
  }

  &__item--italic {
    margin-bottom: 6px;
    font-style: italic;
  }

  &__age-limit {
    position: relative;
    padding-left: 2px;
    font-size: 12px;
  }

  &__age-limit::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -3px;
    width: 30px;
    height: 30px;
    border: 1px solid $gray-dark;
    border-radius: 100%;
  }
}

.playlists__grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.playlists__item {
  flex-direction: column;
}

.band {
  position: relative;

  &__button {
    font-size: 0;
  }

  &__button:focus-visible {
    .band__img {
      filter: brightness(30%);
    }

    .band__content {
      background-color: $focus;

      .band__title {
        color: #fff;
      }

      .band__text {
        color: #fff;
      }
    }
  }

  &__button:hover {
    .band__img {
      filter: brightness(30%);
    }

    .band__content {
      background-color: $hover;

      .band__title {
        color: #fff;
      }

      .band__text {
        color: #fff;
      }
    }

    &__button:active {
      .band__img {
        filter: brightness(30%);
      }

      .band__content {
        background-color: $active;

        .band__title {
          color: #fff;
        }

        .band__text {
          color: #fff;
        }
      }
    }
  }

  &__pic {
    font-size: 0;
  }

  &__img {
    transition: filter .4s ease-in-out;
  }

  &__flag {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 20px;
    background: url('../img/flag-russian.jpg');
  }

  &__flag--british {
    background: url('../img/flag-british.jpg');
  }

  &__content {
    padding: 16px 21px 16px 16px;
    outline: 1px solid $gray-light;
    transition: background-color .4s ease-in-out;
  }

  &__title {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    transition: color .4s ease-in-out;
  }

  &__text {
    font-size: 12px;
    color: $gray-dark;
    transition: color .4s ease-in-out;
  }

  &__icon {
    position: absolute;
    top: 23%;
    right: 32%;
    fill: $hover;
    opacity: 0;
    transition: opacity .4s ease-in-out, transform .4s ease-in-out;

    path {
      fill: #fff;
    }
  }
}

.band__button {
  &:focus-visible {
    svg {
      opacity: 1;
    }
  }

  &:hover {
    svg {
      opacity: 1;
    }
  }

  &:active {
    svg {
      opacity: 1;
      transform: scale(1.17);
    }

    .band__content {
      background-color: $active;
    }
  }
}