@import "variables";
@import "mixins";

.slider-wrapper {
  position: relative;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 33%;
  background-color: $black-main;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev {
  left: -60px;
  background: url('../icons/arrow_btn.svg');
  transform: rotate(-90deg);
}

.swiper-button-next {
  right: -60px;
  background: url('../icons/arrow_btn.svg');
  transform: rotate(90deg);
}