$black-main: #121723;
$black-second: #292E39;
$gray-dark: #A1A6B4;
$gray: #D2D5DD;
$gray-light: #E6E8EC;
$brown: #BB973E;
$yellow: #F0D288;
$active: #4F28A5;
$hover: #6D31EE;
$focus: #AA9DFA;
$blue: #0039A6;
$red: #D52B1E;
$color-light: #F5F6F7;

$offset: 30px;

$bigfont: 20px;
$smallfont: 12px;